@page "/vote"
@using RangeVote.Common
@inject HttpClient Http


<h1>Trip Vote</h1>

<p>Give your first choice a 9.9 and your last choice 0.  Score all others as you see fit.</p>
<p>@message</p>

@if (trips == null)
{
<p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Score</th>
        </tr>
    </thead>
    <tfoot>
        <p>@message</p>
        <button class="btn btn-primary" onclick="@(e => SaveScores())">Save</button>
    </tfoot>
    <tbody>
        @foreach (var trip in trips.OrderByDescending(t => t.Score))
        {
            <tr>
                <td>@trip.Name</td>
                <td><button class="btn btn-primary" onclick="@(e => DecrementScore(@trip.Name))">-</button> <button class="btn" onclick="@(e => DecrementScorePt(@trip.Name))">-</button> @trip.ScoreString <button class="btn" onclick="@(e => IncrementScorePt(@trip.Name))">+</button> <button class="btn btn-primary" onclick="@(e => IncrementScore(@trip.Name))">+</button></td>
            </tr>
        }
    </tbody>
</table>

}

@functions {
    Candidate[] trips;
    String message;

    protected override async Task OnInitAsync()
    {
        trips = (await Http.GetJsonAsync<Ballot>("/api/candidate/f2cf5956-4ca0-485e-a7f7-27fa4897a4db")).Candidates;
    }

    void IncrementScore(String name)
    {
        var trip = trips.Where(t => t.Name == name).FirstOrDefault();
        if (trip != null)
        {
            if (trip.Score < 90)
            {
                trip.Score += 10;
            }
        }
    }

    void IncrementScorePt(String name)
    {
        var trip = trips.Where(t => t.Name == name).FirstOrDefault();
        if (trip != null)
        {
            if (trip.Score < 99)
            {
                trip.Score ++;
            }
        }
    }

    void DecrementScore(String name)
    {
        var trip = trips.Where(t => t.Name == name).FirstOrDefault();
        if (trip != null)
        {
            if (trip.Score > 10)
            {
                trip.Score -= 10;
            }
            else if (trip.Score <= 10)
            {
                trip.Score = 0;
            }
        }
    }

    void DecrementScorePt(String name)
    {
        var trip = trips.Where(t => t.Name == name).FirstOrDefault();
        if (trip != null)
        {
            if (trip.Score > 0)
            {
                trip.Score--;
            }
        }
    }

    async Task SaveScores()
    {
        {
            message = "Saving...";
            await Http.SendJsonAsync(HttpMethod.Put, "/api/candidate/", new Ballot { Id= Guid.Parse("f2cf5956-4ca0-485e-a7f7-27fa4897a4db"), Candidates = trips});
            message = "";
        }
    }
}